# Saptiva OPS API Configuration
SAPTIVA_API_KEY=va-ai-2GUTtlxqbxThmvOtJFaMY6hVqPeWNPD_Xms_1hCtmhV6iWiKtMLdI7Xwlx7dhvCfYLePcnUduSsj5MwPcvX4yFlWSD_IhsKt-knV-G3t0Kk
SAPTIVA_API_URL=https://api.saptiva.com/v1/chat

# Weaviate Configuration
WEAVIATE_URL=http://weaviate:8080

# Embedding Model
EMBEDDING_MODEL=all-MiniLM-L6-v2

# Application Settings
APP_NAME=MediCopilot
APP_VERSION=1.0.0

